{#
{% extends "!simple/index.html" %}
#}

{#
{% extends "base.html" %}
#}
{% extends "page.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="theme/js/feed.js"></script>
{% endblock %}

{% block content %}
{{ super() }}

{# TODO: why does pure-g not work? #}

<div class="boxes content">
  <div class="box">
    <h2><a href="{{ SITEURL }}/forums">Forums</a></h2>

    <output><p>Ton browser est trop ancien. Rendez-vous <a href="{{ SITEURL }}/forums/">dans les Forums</a> pour voir l'activité</p></output>
    <template>
    <li>
      <a href=""><strong></strong></a><br>
      <span></span>
    </li>
    </template>
  </div>
  <div class="box">
    <h2><a href="{{ SITEURL }}/actualites">Actualités</a></h2>
    <ul>
    {% for article in articles if article.category.name == 'actualites' %}
      <li>
      {% if loop.index <= 3 %}
        {% if article.cover %}
        <a href="{{ SITEURL }}/{{article.url}}">
        <img src="{{ SITEURL }}/{{article.cover}}" class="cover"><br>
        </a>
        {% endif %}
        <a href="{{ SITEURL }}/{{article.url}}">{{article.title}}</a>
        {% if article.accueil %}
        <br>{{article.accueil}}
        {% else %}
        <br>{{article.summary|striptags|truncate(100, False)}}
        {% endif %}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
    <p><a href="{{ SITEURL }}/actualites">Toutes les nouvelles...</a></p>
  </div>
  <div class="box">
    <h2><a href="{{ SITEURL }}/tutoriels">Tutoriels</a></h2>
    <ul>
    {% for article in articles if article.category.name == 'tutoriels' %}
      <li>
      {% if loop.index <= 3 %}
        {% if article.cover %}
        <a href="{{ SITEURL }}/{{article.url}}">
        <img src="{{ SITEURL}}/{{article.cover}}" class="cover"><br>
        </a>
        {% endif %}
        <a href="{{ SITEURL }}/{{article.url}}">{{article.title}}</a>
        {% if article.accueil %}
        <br>{{article.accueil}}
        {% else %}
        <br>{{article.summary|striptags|truncate(100, False)}}
        {% endif %}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
    <p><a href="{{ SITEURL }}/tutoriels">Tous nos tutoriels...</a></p>
  </div>
</div>

{#
{% for category,_ in categories %}
  <p> {{ category }} </p>
{% endfor %}
#}

{#
{{ javascript_link }}
{% set _ = javascript_link.append('that') %}
#}

<script>
/** run fn when the document is completely loaded */
function onReady(fn) {
    if (document.readyState === "complete" || document.readyState === "interactive") {
        setTimeout(fn, 1);
    } else {
        document.addEventListener("DOMContentLoaded", fn);
    }
}

/** after the document has loaded, fill the rss-output with the latest entries from the forums */
onReady(function() {
  feed = new Feed('{{ FORUM_FEED_URL }}').
    output('output').
    template('template').
    fetch();
});
</script>

{% endblock %}
