{% extends "!simple/article.html" %}

{% block head %}
{{ super() }}
{% if article.comments %}
<script type="text/javascript" src="{{ SITEURL }}/theme/js/feed.js"></script>
{% endif %}
{% endblock %}

{% block content %}
{{ super() }}
{% if article.comments %}
<h2>Commentaires</h2>

<div class="comments">

<p>Pour ajouter un commentaire, tu peux répondre <a href="https://linuxgraphic.org/forums/viewtopic.php?{{ article.comments }}">dans ce fil de discussion</a> du Forum.</p>

<output><p>Ton browser est trop ancien. Rendez-vous <a href="{{ SITEURL }}/forums/">dans les Forums</a> pour voir les commentaires.</p></output>
</div>
<template>
  <li>
    <a href="" class="header"></a>
    <p class="comment"></p>
  </li>
</template>

<script>
/** run fn when the document is completely loaded */
function onReady(fn) {
    if (document.readyState === "complete" || document.readyState === "interactive") {
        setTimeout(fn, 1);
    } else {
        document.addEventListener("DOMContentLoaded", fn);
    }
}

/** after the document has loaded, fill the rss-output with the latest entries from the forums */
onReady(function() {
  feed = new Feed('{{ FORUM_FEED_URL }}?{{ article.comments }}').
    output('output').
    template('template').
    fill(function(t, entry) {
      t('.header').innerText = entry.author+'\n' + entry.updated;
      t('.header').href = entry.url;
      let text = entry.content.substring(0, entry.content.lastIndexOf('<p>Statistiques:'));
      t('.comment').insertAdjacentHTML('afterbegin', text);
    }).
    fetch();
});
</script>
{% endif %}
{% endblock %}

