{% extends "index.html" %}

{% block title %}{{ SITENAME }} - {{ category }} category{% endblock %}

{% block content_title %}
{% if category == 'actualites' %}
<h2>Actualités</h2>
{% elif category == 'tutoriels' %}
<h2>Tutoriels</h2>
{% else %}
<h2>Articles in the {{ category }} category</h2>
{% endif %}
{% endblock %}

